#metroblock {
	height: 200px;
	width: 200px;
	background-color: green;
}

.metroblock-animated {
	animation-name: metronome-animation; 
}

@keyframes metronome-animation {
	from {
		background-color: "red";
		height: 250px;
		width: 250px;
	}
	to {
		background-color: "red";
		height: 200px;
		width: 200px;
	}
}


