html {
  font-size: 50%;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(50% + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 100%;
  }
}

html, body, .main-container {
	height: 100%;
}

.header {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	height: 80%;
	display: flex;
	justify-content: center;
}

.left-aside>div, .center>div, .right-aside>div {
	padding: 20px;
	margin: 20px;
	height: calc(100% - 40px);
	border-radius: 10px;
}

#tempo {
	width: 100px;
	margin: 0 auto;
	display: inline-block;
}

#start {
	width: 60px;
	height: 40px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disabled, .disabled:hover, .disabled:focus {
	background-color: #343a40;
}

#metroblock-container {
	width: 62.5%;
	margin: 50px auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#metroblock-container:before {
	content: "";
	display: block;
	padding-top: 100%;
	position: relative;
}

#metroblock {
	border-radius: 20px;
	position: absolute;
	height: 75%;
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 125%;
	font-weight: 800;
}

.metroblock-animated {
	animation-name: metronome-animation; 
}

.footer {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.z-index-1 {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes metronome-animation {
	from {
		background-color: "red";
		height: 100%;
		width: 100%;
		font-size: 150%;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	}
	to {
		background-color: "red";
		height: 75%;
		width: 75%;
		font-size: 125%;

		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
}


